# Configuration for the pipeline
# put config.py is in src

abspath = "C:\\path\\to\\repo"

sql_server_config = f'{abspath}\\BIGP2\\sql_server_config.cfg'

input_dir = f'{abspath}\\BIGP2\\queries'

relational_input_dir = f'{abspath}\\BIGP2\\queries\\relational'
relational_table_list = ["Categories", "Suppliers", "Customers", "Employees", "Products", "Region", "Shippers", "Territories", "Orders", "OrderDetails"]

dimentional_input_dir = f'{abspath}\\BIGP2\\queries\\dimentional'
dimentional_table_list = ["DimCategories", "DimSuppliers", "DimCustomers", "DimEmployees", "DimProducts", "DimRegion", "DimShippers", "DimTerritories", "FactOrders"]
